* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Zikr Selected Effect */
.zikr.active {
    background: #22c55e !important;
    color: black !important;
}

/* Count Button Press Effect */
#count:active {
    transform: scale(0.9) !important;
}